* {
    margin: 0;
    padding: 0;
}

.login {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: end;
    gap: 25px;
    background-color: rgb(70, 70, 217);
}

.log {
    background-color: rgb(4, 4, 101);
    color: white;
    padding: 5px;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: end;
    padding: 20px 120px 0px 200px;
    background-color: rgb(223, 223, 250);
}

h1 {
    padding: 20px 20px 20px 0px;
}

p {
    padding: 10px 10px 10px 0px;
}

.wide {
    width: 332px;
}

.bir {
    padding: 10px 10px 10px 0px;
}

.create {
    background-color: green;
    color: white;
    padding: 5px 20px 5px 20px;
}

h5 {
    padding: 30px 30px 30px 0px;
}
footer{
    padding: 0 200px 0 200px;
}